*{
    font-family: 'Reem Kufi Fun', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.nav-logo{
    margin-left: 20px;
    color: #7F499D;
    font-size: 22pt;
}

.lokacija{
    text-decoration: none;
    
    font-size: 22pt;
    margin-right: 20px;
    color: #7F499D;
    
}